:root{
    --verde: hsl(128, 50%, 30%);
    --verdeEscuro: hsl(128, 51%, 20%);
    --branco: white;
    --cinza: rgba(211, 211, 211, 0.25);
    --preto: black;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    padding-top: 10vh;
}

button{
    position: fixed;
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding: 0.6vw 0.8vw;
    border: 2px solid black;
    border-radius: 500px;
    background-color: var(--verdeEscuro);
    margin: 10px;
}

.titulo{
    color: var(--branco);
    background-color: var(--verde);
    padding: 0.5vw;
    font-size: xx-large;
    font-family: serif;
    text-align: center;
}

header{
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

header ul{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--verde);
}

header ul img{
    height: 10vh;
}

header ul li{
    list-style: none;
    font-size: 0.8rem;
}

header ul a{
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border: 2px solid black;
    border-radius: 500px;
    background-color: var(--verdeEscuro);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#Importancia{
    margin-top: 10vh;
    width: 80vw;
}

#Importancia p{
    background-color: var(--cinza);
    padding: 15px;
    line-height: 1.65;
    font-size: 1rem;
}

.aranguera{
    color: var(--branco);
    background-color: var(--verde);
    padding: 15px;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 40px;
    width: 80vw;
}

.caixa {
    background-color: var(--cinza);
    width: 48%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 0;
}

.caixa h1 {
    background-color: var(--verde);
    color: var(--branco);
    padding: 15px;
    text-align: center;
    margin: 0;
    font-size: x-large;
}

.caixa ul {
    padding: 15px;
    list-style: none;
}

.caixa li {
    margin-bottom: 15px;
    line-height: 1.5;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.caixa strong {
    color: var(--verdeEscuro);
}

#videos {
    width: 80vw;
    margin-top: 40px;
    margin-bottom: 40px;
}

.video-linha {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.video-linha iframe {
    border: 3px solid var(--verde);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

footer{
    background-color: var(--verdeEscuro);
    width: 100%;
    margin-top: 100px;
    display: flex;
    color: white;
    padding: 30px 0;
}

footer div{
    height: 100%;
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer1 h1{
    background-color: var(--verdeEscuro);
    margin-bottom: 10%;
}

.footer1 p{
    margin-bottom: 10%;
}

footer div a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.footer2 h1{
    background-color: var(--verdeEscuro);
    margin-bottom: 25%;
}

.footer2 img{
    height: 5vh;
    margin-right: 10px;
}

.footer2 ul{
    list-style-type: none;
}

.span1{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.span2{
    display: flex;
    align-items: center;
}

.footer3 h1{
    background-color: var(--verdeEscuro);
    margin-bottom: 25px;
}

.footer3 img{
    height: 11vh;
}

.footer3 p{
    margin-bottom: 25px;
    font-size: 1rem;
}

.footer-img{
    display: flex;
    justify-content: center;
}

.link{
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border: 2px solid black;
    border-radius: 500px;
    font-size: 1rem;
    background-color: var(--verdeEscuro);
    transition: 0.5s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.link:hover {
    border-color: var(--branco);
}
