:root{
    --verde: hsl(128, 51%, 37%);
    --verdeEscuro: hsl(128, 51%, 25%);
    --branco: white;
    --cinza: lightgray;
    --preto: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    width: 100%;
}

.titulo{
    color: var(--branco);
    background-color: var(--verde);
    padding: 5px;
    font-size: xx-large;
    text-align: center;
}

header{
    height: 200px;
    width: 100%;
}

header ul{
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--verde);
    box-shadow: 5px 5px 15px;
}

header ul img{
    height: 100px;
    transition: 2s;
}

header ul:hover{
    img{
        height: 150px;
        transition: 2s;
    }
    }

header ul li{
    list-style: none;
}

header ul a{
    text-decoration: none;
    color: white;
    padding: 10px;
    border: 2px solid black;
    border-radius: 500px;
    background-color: var(--verdeEscuro);
}