:root{
    --verde: hsl(128, 51%, 37%);
    --verdeEscuro: hsl(128, 51%, 25%);
    --branco: white;
    --cinza: rgba(211, 211, 211, 0.25);
    --preto: black;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

p{
    font-size: 0.8rem;
}

body{
    width: 100%;
}

.titulo{
    color: var(--branco);
    background-color: var(--verde);
    padding: 0.5vw;
    font-size: xx-large;
    font-family: serif;
    text-align: center;
}

header{
    background-color: white;
    width: 100%;
    position: fixed;
}

header ul{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--verde);
}

header ul img{
    height: 10vh;
    transition: 2s;
}

header ul li{
    list-style: none;
    font-size: 0.8rem;
}

button{
    position: fixed;
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding: 0.6vw 0.8vw;
    border: 2px solid black;
    border-radius: 500px;
    background-color: var(--verdeEscuro);
    margin: 10px;
}

header ul a{
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border: 2px solid black;
    border-radius: 500px;
    background-color: var(--verdeEscuro);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#sobre{
    margin-top: 25vh;
    width: 80vw;
}

#sobre.show{
    opacity: 1;
    transform: translateY(0px);
}

p{
    font-size: 1rem;
}

a{
    font-size: 1rem;
}

#sobre p{
    background-color: var(--cinza);
    padding: 0.5vw;
    line-height: 1.65;
}

#introdução{
    margin-bottom: 50px;
    margin-top: 100px;
    width: 80vw;
}

#introdução h1{
    margin-bottom: 10px;
}

#introdução ul{
    list-style: none;
}

.intritens{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

.esquerda{
    width: 100%;
    height: 100%;
}

.ss{
    width: 100%;
    background-color: var(--cinza);
}

.ss h1{
    margin-bottom: 10px;
    background-color: var(--verde);
    color: var(--branco);
    text-align: center;
    padding: 20px;
}

.ss li{
    background-color: var(--verde);
    color: var(--branco);
    text-align: center;
    padding: 2px;
}

.ss strong{
    font-size: larger;
}

.ss p{
    margin-left: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.direita{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 20px;
    width: 100%;
    height: 90%;
}

.def{
    background-color: var(--cinza);
    width: 100%;
}

.def h1{
    background-color: var(--verde);
    color: var(--branco);
    text-align: center;
    padding: 10px;
}

.def p{
    padding-left: 7px;
    padding-right: 7px;
    line-height: 1.65;
}

.imp{
    width: 100%;
    background-color: var(--cinza);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imp h1{
    background-color: var(--verde);
    color: var(--branco);
    text-align: center;
    padding: 10px;
}

.imp p{
    padding-left: 7px;
    padding-right: 7px;
    line-height: 1.65;
}

#atividades{
    display: grid;
    grid-template-columns: repeat(1);
    width: 80vw;
    background-color: var(--cinza);
}

#atividades h1{
    text-align: center;
    width: 80vw;
}

#atividades .texto{
    background-color: var(--cinza);
    line-height: 1.65;
    text-align: center;
    border-right: 11px solid var(--cinza);
}

#atividades .objetivo{
    background-color: var(--cinza);
    line-height: 1.65;
    text-align: center;
    border-right: 11px solid var(--cinza);

}

figure{
    background-color: var(--cinza);
}

.img{
    width: 100%;
    margin:auto;
    text-align: center;
    background-color: white;
    padding-bottom: 10px;
    img{
        margin-bottom: -30px;
    }
    figcaption{
        color: white;
        padding: 10px;
        border: 2px solid black;
        border-radius: 500px;
        background-color: var(--verdeEscuro);
        width: 250px;
        display: block;
        margin: auto;
    }
    a{
        text-decoration: none;
        padding: 8px 12px;
    }
}

#faq{
    margin-top: 100px;
    width: 80%;
    display: flex;
}

#faq h1{
    width: 100%;
}

.faq{
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.faq div{
    width: 100%;
    margin-top: 10px;
}

.faq div table{
    width: 100%;
}

.faq div table tr{
    height: 100px;
}

.faq div table{
    background-color: var(--cinza);
    padding: 0.5vw;
    line-height: 1.65;
}

footer{
    background-color: var(--verdeEscuro);
    width: 100%;
    margin-top: 100px;
    display: flex;
    color: white;
}

footer div{
    height: 100%;
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer1 h1{
    background-color: var(--verdeEscuro);
    margin-bottom: 10%;
}

.footer1 p{
    margin-bottom: 10%;
}

footer div a{
    color: white;
    text-decoration: none;
}

.footer2 h1{
    background-color: var(--verdeEscuro);
    margin-bottom: 25%;
}

.footer2 img{
    height: 5vh;
    margin-right: 10px;
}

.footer2 ul{
    list-style-type: none;
}

.span1{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.span2{
    display: flex;
    align-items: center;
}

.footer3 h1{
    background-color: var(--verdeEscuro);
    margin-bottom: 25px;
}

.footer3 img{
    height: 110px;
}

.footer3 p{
    margin-bottom: 25px;
}

.footer-img{
    display: flex;
    justify-content: center;
}